html {
    background-color: hsla(200, 30%, 30%, .7);
}
a{
    text-decoration: underline;
    color: black;
}
a:visited{
    text-decoration: underline;
    color: black;
}
.wrap {
    background-color: darkgray;
    display: grid;
    grid-template-columns: 100px repeat(2, 1fr) 100px;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.introduction{
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    grid-column: 2/4;
    grid-row: 2/3;
    background-color:rgb(150, 150, 231);

}
.Contact_Information{
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    grid-column: 2/4;
    grid-row: 3/4;
    background-color: rgb(150, 150, 231);
    
}